body {
    background-color: #95C5DB;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ada8a7;
    padding: 10px;
}

#header_img {
    background-image: url(../images/header2.jpg);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head_img {
    background-image: url(../images/header3.jpg);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hed_img {
    background-image: url(../images/Header.jpg);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heder_img{
    background-image: url(../images/omori.jpg);
    height: 190px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #0B2740;
    text-shadow: 1px 1px 1px black;
}

nav {
    background-color: #bfbbb7;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    background-color: #0B2740;
    color: #91BBF2;
    height: 50px;
    line-height: 35px;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}

nav li a :hover{
    background-color: #8faa45;
    
}

main h2, main h3, footer {
    color: #211C40;
    text-align: center;
}

main img {
    width: 50%;
}

iframe{
    display: block;
    width: 50%;
    height: 20%;
    margin: 20px auto;
    border: 4px solid #0B2740;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
}
.col {
    background-color: #77A1A6;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #F2F2F2;
    margin: 10px 0;
}

footer {
    background-color: #F2F2F2;
    color: black;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

table{
    border: 2px solid #000;
    border-radius: 5px;
    margin: 10px;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 16px;
    text-align:center;
    border: #91BBF2;
}

th, tr {
    border: 4px solid  rgb(162, 61, 61);
    padding: 10px;
    margin: 100%;
    border-radius: 10px;
}

/*Tablet Css*/
@media (min-width: 768px) {


    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid black;
    }
    nav li a:hover{
        background-color: green;
    }

    main img{
        width: 50%;
    }

    section img {
        width: 30%;
    }

    main {
        display: flex;
    }
    
    section, aside {
        padding: 30px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: justify;
    }

    aside{
        text-align: left;
    }
    .col {
        width: 50%;
        text-align: justify;
        font-family: 'Mooli', sans-serif;
    }
    .button_space2{
        margin: 1900px auto 10px;
    }

    .single_button{
        margin: 40px auto 10px;
    }

    .single_page {
        width: 100%;
    }

    #lower_area {
        display: flex;
    }

    .single_col{
        margin-left: 20px;
        margin-right: 20px;

    }
}



/*Desktop Version*/
@media (min-width: 1024px) {
    body {
        background-color: #173F73;
    }

    h1 {
        text-align: center;
        color: #173F73;
        font-family: 'Chivo', sans-serif;
        
    }

    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #95C5DB;
        padding: 10px;
        font-size: 17px;
    }
    iframe{
        display: block;
        width: 50%;
        height: 20%;
        margin: 20px auto 40px auto;
        border: 4px solid #0B2740;
        box-shadow: 5px 5px 5px black;
        border-radius: 20px;
        padding: 20px;
    }

    #main_area {
        display: flex;
    }
    
    #img_resize {
        width: 10%;
    }

    section, aside {
        margin: 10px;
        border: 4px solid #6c584c;
        border-radius: 10px;
    }
    
    section {
        width: 70%;
    }
    
    aside {
        width: 30%;
    }
 
    .single_page {
        width: 100%;
    }

    #lower_area {
        display: flex;
    }

    #extended_area {
        display: block;
    }

    .button {
        display: block;
        color: #91BBF2;
        width: 125px;
        height: 10px;
        line-height: 10px;
        background-color: #0B2740;
        text-decoration: none;
        padding: 10px;
        border: 2px solid #90BFD7;
        border-radius: 5px;
        text-align: center;
        margin: 120px auto 10px;
    }
    
    .button:hover {
        background-color: #c3eb56;
    }

    .button_space {
        margin: 20px auto 0 auto;
    }

    .button_space2 {
        margin: 160px auto 0 auto;
    }
}